body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(135deg, #181818, #3cbd69);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
}

iframe {
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
}
